<div class="container">
  <div class="comments row mt-4">
    <h2 class="comments-title">Comments:</h2>
    <% commentable.comments.each do |comment| %>
      <div class="comment-card card mb-4 shadow-0">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <%= image_tag comment.user.avatar.url, alt:"Avatar", class:"avatar" %>
              <p class="small mb-0 ms-2"><strong><%= comment.user.email %>:</strong></p>
            </div>
          </div>
          <p>
            <%= truncate(comment.content, length: 140)  %>
          </p>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals:{commentable: commentable} %>
    <% else %>
      <p>Please <%= link_to 'sign in', new_user_session_path %> to add a comment.</p>
    <% end %>
  </div>
</div>