<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="main-color">Categories</h1>
    <%= link_to "Create a Category", new_category_path(@caregory), class: "btn btn-primary" %>

  </div>
  <div class="list-body bg-transparent">
    <div class="list-group bg-transparent">
      <% @categories.reverse.each do |category| %>
        <a href="<%= category_path(category) %>" class="list-group-item list-group-item-action main-color ">
          <h5 class="mb-1"><%= category.title %></h5>
          <p class="mb-1" ><%= truncate(category.description, length: 100) %></p>
          <p class="mb-1"><%= pluralize(category.total_likes_count, "like") %></p>
          <small>Created: <%= category.created_at.strftime("%d %B %Y") %></small>
        </a>
      <% end %>
    </div>    
  </div>
</div>