<nav class="navbar fixed-top">
  <div class="container-fluid">
    <div class="nav-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Gallery</a>
    </div>
    <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto my-2">
        <% if current_page?(root_path) %>
          <li class="nav-item">
            <a class="btn btn-toggle dropdown-toggle p-0 mt-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Top categories
            </a>
            <div class="collapse" id="home-collapse" style="">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <% @top_categories.each do |category| %>
                  <li>
                    <%= link_to category.title, category_path(category), class: "nav-link link-dark" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#user-dropdown" aria-expanded="false">
              <%= image_tag current_user.avatar.url, class: "avatar rounded-circle me-2" %>
              <span><%= current_user.username %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" id="user-dropdown" aria-labelledby="userDropdown">
              <li><%= link_to "Your Profile", profile_path, class: "dropdown-item" %></li>
              <li><%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>