<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gallery On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>


    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+AU+SA&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_stream_from current_user, "notifications"%>
    <% if current_user %>
      <%= render partial: 'layouts/notifications', locals: { notifications: current_user.notifications } %>
    <% end %>
    <%= render partial: 'layouts/navbar' %>
    <div class="container">
      <%= render partial: "layouts/flash" %>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
